html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: #111;

  display: flex;
  justify-content: center;   /* horizontal */
  align-items: center;       /* vertikal */

  text-align: center;
}

/* Container */
.container {
  max-width: 900px;
  padding: 20px;
}

/* Logo */
.logo {
  width: 1024px;
  max-width: 90%;
  height: auto;
  margin-bottom: 30px;
}

/* Text */
h1 {
  font-size: 3.2rem;
  margin: 0 0 14px;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 28px;
}

.name {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.contact a {
  font-size: 1.35rem;
  text-decoration: none;
  color: #6a0dad;
  font-weight: bold;
}
